Repository ChrisWithakay42/TheLab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: yaml-lint, deploy_review

yaml-lint:
  stage: lint
  tags:
  - home-lab
  script:
  - echo "Running yamllint on all YAML files..."
  - yamllint --no-warnings .

deploy_review:
  stage: deploy_review
  tags:
  - home-lab
  environment:
    name: review/$CI_COMMIT_REF_SLUG
    on_stop: cleanup_review
  script:
  ...

ci(update): dynamic namespace creation
  .gitlab-ci.yml
Due: yaml-lint

homepage(refactor): namespace now managed implicitly by kustomize rather than hardcoded in manifests
  apps/base/homepage/config_map.yaml
  apps/base/homepage/deployment.yaml
  apps/base/homepage/external-secret.yaml
  apps/base/homepage/ingress.yaml
  apps/base/homepage/kustomization.yaml
  apps/base/homepage/service.yaml
  apps/base/homepage/service_account.yaml
Due: yaml-lint, deploy_review

ci: fix kustmoize namespace command exectuion
  .gitlab-ci.yml
Due: yaml-lint

homepage(fix): explicit namespace manifest
  apps/base/homepage/kustomization.yaml
  apps/base/homepage/namespace.yaml
Due: yaml-lint, deploy_review

homepage(test): showcasing ci flow
  apps/base/homepage/config_map.yaml
Due: yaml-lint, deploy_review

pihole(chore): refactor eso to aws
  apps/base/pihole/external-secret.yaml
Due: yaml-lint, deploy_review

pihole(fix): ingress path
  apps/base/pihole/ingress.yaml
Due: yaml-lint, deploy_review

n8n(chore): remove node selector
  apps/base/n8n/deployment.yaml
Due: yaml-lint, deploy_review

n8n(update): eso secret names
  apps/base/n8n/external-secret.yaml
Due: yaml-lint, deploy_review

infra(feat): cert manager
  infrastructure/config/base/cert-manager/selfsigned-issuer.yaml
Due: yaml-lint

infra(feat): cert manager manifests
  infrastructure/controllers/base/cert-manager/kustomization.yaml
  infrastructure/controllers/base/cert-manager/namespace.yaml
  infrastructure/controllers/base/cert-manager/release.yaml
  infrastructure/controllers/base/cert-manager/repository.yaml
Due: yaml-lint

infra(feat): kustomize cert-manager
  infrastructure/controllers/base/kustomization.yaml
Due: yaml-lint

feat: add cicd.sh
  cicd.sh
Due: none

pihole(feat): self signed cert
  apps/base/pihole/certificate.yaml
Due: yaml-lint, deploy_review

pihole(update): add tls to deployment
  apps/base/pihole/deployment.yaml
Due: yaml-lint, deploy_review

pihole(update): add tls to ingress
  apps/base/pihole/ingress.yaml
Due: yaml-lint, deploy_review

pihole(update): add tls certificate to kustomize
  apps/base/pihole/kustomization.yaml
Due: yaml-lint, deploy_review

pihole(feat): mount tls
  apps/base/pihole/deployment.yaml
Due: yaml-lint, deploy_review

refactor(wallabag): replace SealedSecret with ExternalSecret
  databases/data/wallabag/external-secret.yaml
  databases/data/wallabag/kustomization.yaml
  databases/data/wallabag/wallabag-db-secret.yaml
Due: yaml-lint

refactor(n8n): remove unused secret
  databases/data/n8n/secret.yaml
Due: yaml-lint

refactor(unifi): replace Secret with ExternalSecret
  databases/data/unifi/external-secret.yaml
  databases/data/unifi/kustomization.yaml
  databases/data/unifi/secret.yaml
Due: yaml-lint

chore(databse): remove test secrets
  databases/data/graylog-mongo/secret.yaml
Due: yaml-lint

update(n8n): secret name
  apps/base/n8n/external-secret.yaml
Due: yaml-lint, deploy_review

revert(n8n): secret names
  apps/base/n8n/external-secret.yaml
Due: yaml-lint, deploy_review

update(n8n-db): external secrets
  databases/data/n8n/external-secret.yaml
Due: yaml-lint

update(unifi): mongo db secret
  databases/data/unifi/external-secret.yaml
Due: yaml-lint

update(n8n): secret v2
  apps/base/n8n/external-secret.yaml
Due: yaml-lint, deploy_review

update(unifi): database secret
  databases/data/unifi/external-secret.yaml
Due: yaml-lint

fix(unifi): database eso version
  databases/data/unifi/external-secret.yaml
Due: yaml-lint

update(wallabag): eso
  databases/data/wallabag/external-secret.yaml
Due: yaml-lint

update(homepage): unifi service href
  apps/base/homepage/config_map.yaml
Due: yaml-lint, deploy_review

refactor(pihole): remove tls requirement for now
  apps/base/pihole/deployment.yaml
  apps/base/pihole/ingress.yaml
  apps/base/pihole/kustomization.yaml
Due: yaml-lint, deploy_review

fix(pihole): lint
  apps/base/pihole/ingress.yaml
Due: yaml-lint, deploy_review

fix(pihole): lint
  apps/base/pihole/deployment.yaml
Due: yaml-lint, deploy_review

fix(pihole): ingress path
  apps/base/pihole/ingress.yaml
Due: yaml-lint, deploy_review

fix(pihole): ingress
  apps/base/pihole/ingress.yaml
  apps/base/pihole/service.yaml
Due: yaml-lint, deploy_review

fix(pihole): troubleshooting ingress
  apps/base/pihole/configmap.yaml
Due: yaml-lint, deploy_review

update(pihole): LB IP
  apps/base/pihole/service.yaml
Due: yaml-lint, deploy_review

update(pihole): hostnetwork setup
  apps/base/pihole/deployment.yaml
Due: yaml-lint, deploy_review

update(pihole): nodeselector
  apps/base/pihole/deployment.yaml
Due: yaml-lint, deploy_review

Path conditions:
  yaml-lint: any of: **/*.yaml, **/*.yml
  deploy_review: any of: apps/base/**/*
