Repository ChrisWithakay42/TheLab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: yaml-lint, deploy_review

yaml-lint:
  stage: lint
  tags:
  - home-lab
  script:
  - echo "Running yamllint on all YAML files..."
  - yamllint --no-warnings .

deploy_review:
  stage: deploy_review
  tags:
  - home-lab
  environment:
    name: review/$CI_COMMIT_REF_SLUG
    on_stop: cleanup_review
  script:
  ...

update sops and ignore files
  .gitignore
  .sops.yaml
Due: yaml-lint

update pre-commit hooks to ignore overlay kustomization files
  .pre-commit-config.yaml
Due: yaml-lint

update hooks
  .pre-commit-config.yaml
Due: yaml-lint

feat(infra): controller and confis base manifest overlays
  infrastructure/config/lab42/cert-manager/kustomization.yaml
  infrastructure/config/lab42/cilium/kustomization.yaml
  infrastructure/config/lab42/cloudflared/kustomization.yaml
  infrastructure/config/lab42/external-secrets/kustomization.yaml
  infrastructure/config/lab42/kustomization.yaml
  infrastructure/config/lab42/longhorn/kustomization.yaml
  infrastructure/controllers/lab42/cert-manager/kustomization.yaml
  infrastructure/controllers/lab42/cilium/kustomization.yaml
  infrastructure/controllers/lab42/cloudflared/kustomization.yaml
  infrastructure/controllers/lab42/external-dns/kustomization.yaml
  infrastructure/controllers/lab42/external-secrets/kustomization.yaml
  infrastructure/controllers/lab42/kustomization.yaml
  infrastructure/controllers/lab42/longhorn/kustomization.yaml
  infrastructure/controllers/lab42/renovate/kustomization.yaml
Due: yaml-lint

remove renovate
  infrastructure/controllers/lab42/kustomization.yaml
Due: yaml-lint

update(infra): remove cilium overlay manifest kustmoizations as cilium is not declaratively implemented
  infrastructure/config/lab42/kustomization.yaml
  infrastructure/controllers/lab42/kustomization.yaml
Due: yaml-lint

feat(databases): base manifest overlays
  databases/lab42/graylog-mongo/kustomization.yaml
  databases/lab42/graylog-opensearch/kustomization.yaml
  databases/lab42/karakeep/kustomization.yaml
  databases/lab42/kustomization.yaml
  databases/lab42/n8n/kustomization.yaml
  databases/lab42/unifi/kustomization.yaml
  databases/lab42/wallabag/kustomization.yaml
Due: yaml-lint

feat(apps): base manifests overlays
  apps/lab42/homepage/kustomization.yaml
  apps/lab42/karakeep/kustomization.yaml
  apps/lab42/kustomization.yaml
  apps/lab42/n8n/kustomization.yaml
  apps/lab42/pgadmin/kustomization.yaml
  apps/lab42/unifi/kustomization.yaml
  apps/lab42/wallabag/kustomization.yaml
Due: yaml-lint

Add .gitkeep to renovate directory
  infrastructure/controllers/base/cilium/cilium-values.yaml
Due: yaml-lint

update(infra): add ingress class to external dns and add exposed service
  infrastructure/config/base/cloudflared/external-secret-config.yaml
  infrastructure/controllers/base/external-dns/values.yaml
Due: yaml-lint

fix(infra): cloudflared typo
  infrastructure/config/base/cloudflared/external-secret-config.yaml
Due: yaml-lint

update(external-dns): add blog service to ingress
  infrastructure/config/base/cloudflared/external-secret-config.yaml
Due: yaml-lint

fix(wallabag): eso
  apps/base/wallabag/external-secret.yaml
Due: yaml-lint, deploy_review

fix(karakeep-db): eso typo
  databases/data/karakeep/external-secret.yaml
Due: yaml-lint

update(git): ignore file to commit cluster/lab42 directory manifests as this is not an overlay
  .gitignore
Due: none

feat(cluster): eso to pusll age key to decrypt production overlay manifests
  cluster/lab42/flux-system/external-secrets.yaml
  cluster/lab42/flux-system/kustomization.yaml
Due: yaml-lint

feat(karakeep): production SA manifest
  apps/lab42/karakeep/service_account.yaml.sops
Due: none

update(cluster): rename sops-age secret file
  cluster/lab42/flux-system/sops-age-secret.yaml
Due: yaml-lint

Refactor: Move sops-age-secret.yaml and update kustomizations
  cluster/lab42/flux-system/kustomization.yaml
  cluster/lab42/kustomization.yaml
  cluster/lab42/sops-age-secret.yaml
  infrastructure/config/base/cloudflared/external-secret-config.yaml
Due: yaml-lint

update(karakeep): sops encrypted file naming pattern fix
  apps/lab42/karakeep/service_account.sops.yaml
Due: yaml-lint

feat(cluster): apps manifest decryption directive
  cluster/lab42/apps.yaml
Due: yaml-lint

update(external-dns): set updated intervall to 10 min to reduce noize
  infrastructure/controllers/base/external-dns/values.yaml
Due: yaml-lint

update(cloudflared): explicit svc mapping
  infrastructure/config/base/cloudflared/external-secret-config.yaml
Due: yaml-lint

feat(app): authentik namespace and repository manifests
  apps/base/authentik/external-secret.yaml
  apps/base/authentik/namespace.yaml
  apps/base/authentik/repository.yaml
Due: yaml-lint, deploy_review

fix(longhorn): typo
  infrastructure/config/base/longhorn/external-secret.yaml
Due: yaml-lint

update(homepage): authentic service widget
  apps/base/homepage/config_map.yaml
Due: yaml-lint, deploy_review

update(authentik): external secrets manifest
  apps/base/authentik/external-secret.yaml
Due: yaml-lint, deploy_review

update(authentik): kustomization manifest
  apps/base/authentik/kustomization.yaml
Due: yaml-lint, deploy_review

update(authentik): kustomize file
  apps/base/authentik/kustomization.yaml
Due: yaml-lint, deploy_review

update(kube-prometheus-stack): fix resource allocation
  monitoring/config/base/kube-prometheus-stack/values.yaml
Due: yaml-lint

update(pgadmin): explicitly add recreate strategy
  apps/base/pgadmin/deployment.yaml
Due: yaml-lint, deploy_review

update(wallabag): deployment manifest update to prevent longhorn locks and harmony permission issues
  apps/base/wallabag/deployment.yaml
Due: yaml-lint, deploy_review

update(karakeep): comment our SA patch
  apps/lab42/karakeep/kustomization.yaml
Due: yaml-lint

update(flux): add kongz helm repo
  cluster/lab42/flux-system/helm-repository.yaml
  monitoring/controllers/base/graylog/release.yaml
Due: yaml-lint

update(karakeep): comment missed SA line
  apps/lab42/karakeep/kustomization.yaml
Due: yaml-lint

update(flux-system/graylog): add repo to graylog manifests
  cluster/lab42/flux-system/helm-repository.yaml
  monitoring/controllers/base/graylog/repository.yaml
Due: yaml-lint

fix(graylog): namespace bug
  monitoring/config/base/graylog/kustomization.yaml
Due: yaml-lint

update(monitoring-config): add graylog to kustomize
  monitoring/config/base/kustomization.yaml
Due: yaml-lint

fix(karakeep): remove engine version as is irrelevant
  apps/base/karakeep/external-secret.yaml
Due: yaml-lint, deploy_review

update(graylog): suspend from flux for now
  monitoring/config/base/graylog/external-secrets.yaml
  monitoring/config/base/graylog/values.yaml
  monitoring/config/base/kustomization.yaml
  monitoring/controllers/base/kustomization.yaml
Due: yaml-lint

Path conditions:
  yaml-lint: any of: **/*.yaml, **/*.yml
  deploy_review: any of: apps/base/**/*
