Repository ChrisWithakay42/TheLab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: yaml-lint, deploy_review

.gitlab-ci.yml:

image: registry.gitlab.com/homelab1165334/containers/multiaarch-homelab-runner:latest

# Set GIT_DEPTH to 0 to fetch the full project history.
# This is required to compare the feature branch with the main branch.
variables:
  GIT_DEPTH: 0

stages:
  - lint
  - deploy_review
  - cleanup_review

yaml-lint:
  stage: lint
  tags:
    - home-lab
  script:
    - echo "Running yamllint on all YAML files..."
    - yamllint --no-warnings .
  rules:
    - changes:
        - "**/*.yaml"
        - "**/*.yml"

deploy_review:
  stage: deploy_review
  tags:
    - home-lab
  environment:
    name: review/$CI_COMMIT_REF_SLUG
    on_stop: cleanup_review
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - apps/base/**/* # Run this job if anything inside apps/base changes
  script:
    - |
      set -e
      NAMESPACE="$CI_COMMIT_REF_SLUG"
      echo "Deploying review apps to namespace: $NAMESPACE"
      kubectl create namespace "$NAMESPACE" --dry-run=client -o yaml | kubectl apply -f -

      # Find all unique application directories that have changed compared to the main branch
      CHANGED_DIRS=$(git diff --name-only "origin/$CI_DEFAULT_BRANCH...$CI_COMMIT_SHA" | grep -oE 'apps/base/[^/]+' | sort -u)

      if [ -z "$CHANGED_DIRS" ]; then
        echo "No changes found in any 'apps/base/*' directory. Nothing to deploy."
        exit 0
      fi

      echo "Detected changes in the following app directories:"
      echo "$CHANGED_DIRS"

      # Loop through each changed directory and deploy the application
      for APP_DIR in $CHANGED_DIRS; do
        echo "--- Deploying application from $APP_DIR ---"
        APP_NAME=$(basename "$APP_DIR")
        REVIEW_HOST="$APP_NAME-$NAMESPACE.homelab.local"

        # Render the final Kubernetes manifests using kustomize
        kustomize build "$APP_DIR" > "/tmp/${APP_NAME}-rendered.yaml"

        # Find the original hostname from the Ingress resource in the rendered manifests
        ORIGINAL_HOST=$(grep -Eo 'host: [^ ]+' "/tmp/${APP_NAME}-rendered.yaml" | head -n 1 | sed 's/host: //')

        if [ -z "$ORIGINAL_HOST" ]; then
          echo "WARNING: Could not find 'host:' in the rendered manifests for $APP_NAME. Deploying without Ingress modification."
          cat "/tmp/${APP_NAME}-rendered.yaml" | kubectl apply -n "$NAMESPACE" -f -
        else
          echo "Replacing original host '$ORIGINAL_HOST' with review host '$REVIEW_HOST'"
          # Use 'sed' to substitute the original hostname with our new dynamic one, then apply
          sed "s/$ORIGINAL_HOST/$REVIEW_HOST/g" "/tmp/${APP_NAME}-rendered.yaml" | kubectl apply -n "$NAMESPACE" -f -
          echo "Review app for $APP_NAME deployed to http://$REVIEW_HOST"
        fi
      done

cleanup_review:
  stage: cleanup_review
  tags:
    - home-lab
  environment:
    name: review/$CI_COMMIT_REF_SLUG
    action: stop
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      when: manual
      allow_failure: true
  script:
    - |
      set -e
      NAMESPACE="$CI_COMMIT_REF_SLUG"
      echo "Cleaning up review app from namespace: $NAMESPACE"
      kubectl delete namespace "$NAMESPACE"
      echo "Review app namespace $NAMESPACE deleted."

update(pihole): revert dhcp config
  apps/base/pihole/deployment.yaml
Due: yaml-lint, deploy_review

revert(pihole): hostnetwork
  apps/base/pihole/deployment.yaml
Due: yaml-lint, deploy_review

update(unifi): traffic policy
  apps/base/unifi/service-lb.yaml
Due: yaml-lint, deploy_review

revert(unifi): traffic policy
  apps/base/unifi/service-lb.yaml
Due: yaml-lint, deploy_review

update(pihole): remove hsotnetwork
  apps/base/pihole/deployment.yaml
Due: yaml-lint, deploy_review

update(homepage): pihole href
  apps/base/homepage/config_map.yaml
Due: yaml-lint, deploy_review

update(cluster): ignore pihole
  .fluxignore
Due: none

update(homepage): remove netgear service and move unifi to top
  apps/base/homepage/config_map.yaml
Due: yaml-lint, deploy_review

update(homepage): pihole url
  apps/base/homepage/config_map.yaml
Due: yaml-lint, deploy_review

update(cluster): archive unused manifests
  apps/base/ollama/deployment.yaml
  apps/base/ollama/kustomization.yaml
  apps/base/ollama/namespace.yaml
  apps/base/ollama/pvc.yaml
  apps/base/ollama/service.yaml
  apps/base/open-webui/deployment.yaml
  apps/base/open-webui/ingress.yaml
  apps/base/open-webui/kustomization.yaml
  apps/base/open-webui/namespace.yaml
  apps/base/open-webui/pvc.yaml
  apps/base/open-webui/service.yaml
  apps/base/pihole/certificate.yaml
  apps/base/pihole/configmap.yaml
  apps/base/pihole/deployment.yaml
  apps/base/pihole/external-secret.yaml
  apps/base/pihole/ingress.yaml
  apps/base/pihole/kustomization.yaml
  apps/base/pihole/namespace.yaml
  apps/base/pihole/pvc.yaml
  apps/base/pihole/service.yaml
Due: yaml-lint, deploy_review

update(cilium): ippool
  infrastructure/config/base/cilium/ip-pool.yaml
Due: yaml-lint

fix(cilium): lint
  infrastructure/config/base/cilium/ip-pool.yaml
Due: yaml-lint

update(cluster): suspend all applications
  apps/base/unifi/service-lb.yaml
  cluster/lab42/apps.yaml
Due: yaml-lint, deploy_review

revert(cluster): apps
  cluster/lab42/apps.yaml
Due: yaml-lint

revert(unifi): lb ip
  apps/base/unifi/service-lb.yaml
Due: yaml-lint, deploy_review

update(homepage): add service icon for pve and update pihole address
  apps/base/homepage/config_map.yaml
Due: yaml-lint, deploy_review

update(apps): homepage env values comment and unifi service-lb
  apps/base/homepage/deployment.yaml
  apps/base/unifi/service-lb.yaml
Due: yaml-lint, deploy_review

update(cilium): ip-pool
  infrastructure/config/base/cilium/ip-pool.yaml
Due: yaml-lint

update(ciliutm): ip pool to reflect new subnet of pods
  infrastructure/config/base/cilium/ip-pool.yaml
Due: yaml-lint

update(eso): install CRDs via release
  infrastructure/controllers/base/external-secrets/kustomization.yaml
  infrastructure/controllers/base/external-secrets/release.yaml
Due: yaml-lint

fix(cilium): prevent cilium from using broadcast and network addresses
  infrastructure/config/base/cilium/ip-pool.yaml
Due: yaml-lint

fix(cilium): ippool syntax error
  infrastructure/config/base/cilium/ip-pool.yaml
Due: yaml-lint

fix(cilium): ippool manifest
  infrastructure/config/base/cilium/ip-pool.yaml
Due: yaml-lint

update(homepage): unifi controller address
  apps/base/homepage/config_map.yaml
Due: yaml-lint, deploy_review

update(homepage): proxmox ui address
  apps/base/homepage/config_map.yaml
Due: yaml-lint, deploy_review

update(homepage): comment out openwebui as no AI workloads are planned
  apps/base/homepage/config_map.yaml
Due: yaml-lint, deploy_review

feat(cilium): configure bgp peering for cross vlan pod availability and update unifi service manifest to use bgp
  apps/base/unifi/service-lb.yaml
  infrastructure/config/base/cilium/bgp-perring-conf.yaml
  infrastructure/config/base/cilium/kustomization.yaml
Due: yaml-lint, deploy_review

update(homepage): remove consumer router link
  apps/base/homepage/config_map.yaml
Due: yaml-lint, deploy_review

update(cilium): remove redundant ip pool
  infrastructure/config/base/cilium/bgp-perring-conf.yaml
Due: yaml-lint

fix(wallabag): typo
  databases/data/wallabag/pvc.yaml
Due: yaml-lint

update(cilium): api version
  infrastructure/config/base/cilium/ip-pool.yaml
Due: yaml-lint

update(unifi): remove lb class
  apps/base/unifi/service-lb.yaml
Due: yaml-lint, deploy_review

update(cilium): bgp announcements
  infrastructure/config/base/cilium/bgp-perring-conf.yaml
Due: yaml-lint

update(unifi): network controller version and servicelb
  apps/base/unifi/deployment.yaml
  apps/base/unifi/service-lb.yaml
Due: yaml-lint, deploy_review

update(unifi): service selector and external traffic policy to local
  apps/base/unifi/service-lb.yaml
Due: yaml-lint, deploy_review

update(homepage): grouping and layout + netbox
  apps/base/homepage/config_map.yaml
Due: yaml-lint, deploy_review

update(homepage): netbox href
  apps/base/homepage/config_map.yaml
Due: yaml-lint, deploy_review

update(unifi): add resource allocation requests and limit + replication strategy
  apps/base/unifi/deployment.yaml
Due: yaml-lint, deploy_review

fix(homepage): mistake
  apps/base/homepage/config_map.yaml
Due: yaml-lint, deploy_review

update(cilium): bgpeering typo in filename
  infrastructure/config/base/cilium/bgp-peering-conf.yaml
Due: yaml-lint
